#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.game-container {
    perspective: 1000px;
    position: relative;
}

.flip-wrapper {
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-wrapper.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
}

.back {
    transform: rotateY(180deg);
}

.card {
  padding: 2em;
}

.words-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.grid {
    display: flex;
    gap: 1rem;
}

.grid-item {
    border-radius: 8px;
    border: 1px solid transparent;
    width: 4rem;
    height: 4rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
}

.overlapping-green {
    background-color: #008b16;
}

.overlapping-yellow {
    background-color: #8b7f00;
}

.grey-out {
    position: fixed;
    color: rgba(36, 36, 36, 0.7);
    width: 100vw;
    height: 100vh;
}

.win-lose.container {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0.6rem 1.2rem;
    background-color: #1a1a1a;
}

.win-lose .button {
    background-color: #008b16;
    margin: 1em 0;
}

.win-lose .button:hover {
    border-color: #2cff4c;
}